/SwiftHomeWork/nbproject/private/
/SwiftHomeWork/build/
/SwiftAuction/nbproject/private/
/SwiftAuction/dist/
/SwiftAuction/build/
/CitizenManagement/nbproject/private/
/CitizenManagement/build/
/CitizenManagement/dist/
/JavaApplication2/nbproject/private/
/DataObjects/nbproject/private/
/DataObjects/build/
/DataObjects/dist/
/DataAccessLayer/nbproject/private/
/DataAccessLayer/build/
/DataAccessLayer/dist/
/CitizenStorageManagerCLI/nbproject/private/
/CitizenStorageManagerCLI/build/
/CitizenStorageManagerCLI/dist/